.container-md {
  background-color: #ecb857;
  padding: 1%;
  border-radius: 1.5rem;
  min-height: 10vh;
}

.col-12 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  width: 30%;
  height: auto;
  margin-left: 2%;
  min-width: 100px;
}

.links {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 5vw;
  margin-right: 2%;
  margin-left: 5%;
  font-size: 1.5rem;
  font-weight: bold;
  color: #5783ec;
  text-shadow: rgba(0, 0, 0, 0.2) 0.1em 0.1em 0.2em;
}

.logo-link {
  display: contents;
}

#header {
  margin-top: 7vh;
  color: #ffffff;
  padding: 12rem;
}

.slogan {
  font-size: 2.5rem;
  font-weight: bold;
  display: block;
}

#order-now {  
  border: none;
  font-size: 1.5rem;
  font-weight: bold;;
  cursor: pointer;
  display: inline;
}

.cake-image-row {
  display: flex;
  justify-content: space-between; 
  gap: 2rem;
  margin-top: 5rem;
  margin-left:-10rem
}

.cake-img {
  width: 40%; 
  height: auto;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.header-left {
  flex: 1;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#order-now {
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  background: none;
}

img::hover {
  text-shadow: #ecb857 0.1em 0.1em 0.2em;
}
